@import "compass/reset";
@import "compass/css3";
@import "mixins";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@include keyframes(scroll-up) {
  from {
    @include transform(translateY(100%));
  }

  to {
    @include transform(translateY(-650%));
  }
}

* {
  @include box-sizing(border-box);

  &:after,
  &:before {
    @include box-sizing(border-box);
  }
}

html, body {
  height: 100%;
}

body {
  background-color: black;
  color: white;
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
}

select {
  @include appearance(none);
  padding: 1em;
  position: absolute;
  left: 1em;
  top: 1em;
}

main {
  &.animate {
    @include opacity(1);
    @include animation("scroll-up 100s infinite");
  }
  @include opacity(0);
  height: 100%;
  text-align: center;
}

dl {
  pointer-events: none;
  width: 50%;
  margin: 0 auto;
  line-height: 1.8em;
  height: 100%;
  min-width: 18em;
}

dt {
  width: 40%;
  float: left;
  text-align: right;
  padding-right: 0.35em;
  font-size: 0.5em;
  position: relative;
  top: 0.25em;
}

dd {
  width: 60%;
  float: right;
  text-align: left;
  padding-left: 0.35em;
}

video {
  position: fixed;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-repeat: no-repeat;
  background-size: cover;
}
