$break-small: 600px;
$circle_border_color: #8a868e;
$light_gray: #eee;
$touch_hover_background_color: #ccc;
$font_stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
