@import "compass/reset";
@import "compass/css3";
@import "variables";
@import "mixins";
@import "animations";
@import "overlay";

* {
  @include box-sizing(border-box);

  &:after,
  &:before {
    @include box-sizing(border-box);
  }
}

main {
  text-align: center;
}

body {
  font-family: $font_stack;
  font-weight: 300;
  font-size: 62.5%;
}

[draggable="true"] {
  @include transition(0.4s);
  @include user-select(none);
  @include legacy-user-drag();

  cursor: move;

  &[aria-grabbed="true"] {
    @include opacity(0.3);
    @include scale3d(0.8, 0.8, 1);
  }

  &[aria-grabbed="false"] {
    @include opacity(1);
  }
}

#friends,
#events {
  > li {
    @include border-radius(6em);
    width: 7em;
    height: 7em;
    background: white;
    border: 1px solid $circle_border_color;
    display: inline-block;
    list-style: none;
    position: relative;
    margin: 2em;
    font-size: 1.3em;

    .event-name,
    .friend-name {
      @include transform(translateY(46%));
      display: block;
      font-size: 0.9em;
      pointer-events: none;
      height: 100%;
      text-align: center;
    }

    li {
      position: absolute;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

#friends > li {
  z-index: 100;

  &.clone {
    @include transition(0.4s);
    @include scale3d(1, 1, 1);
    @include opacity(0);
    z-index: 1;
    position: absolute;

    &.shown {
      @include opacity(0.3);
      @include scale3d(0.8, 0.8, 1);
    }
  }
}

#events > li {
  @include transition(0.3s);
  background: $light_gray;

  ul {
    width: 100%;
    position: absolute;
    pointer-events: none;

    &:after {
      content: attr(data-list-size);
      @include transition(0.3s);
      @include opacity(0);
      @include transform(
        translateY(-50%) scale3d(0, 0, 1)
      );
      margin: 0 auto;
      display: block;
      font-size: 1.1em;
      background: lightblue;
      color: black;
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      text-align: center;
    }
  }

  &.over,
  &:hover {
    border-color: black;
    background: $touch_hover_background_color;

    ul {
      &:after {
        @include transform(
          translateY(25%) scale3d(1, 1, 1)
        );
        @include opacity(1);
      }
    }
  }
}
