@import "compass/reset";
@import "compass/css3";
@import "variables";
@import "mixins";
@import "animations";

* {
  @include box-sizing(border-box);

  &:after,
  &:before {
    @include box-sizing(border-box);
  }
}

body {
  font-family: $font_stack;
  font-weight: 300;
  font-size: 62.5%;
}

[draggable="true"] {
  @include transition(0.4s);
  @include user-select(none);

  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;

  cursor: move;

  &[aria-grabbed="true"] {
    @include opacity(0.3);
    @include scale3d(0.8, 0.8, 1);
  }

  &[aria-grabbed="false"] {
    @include opacity(1);
  }
}

#friends,
#events {
  > li {
    @include border-radius(6em);
    width: 7em;
    height: 7em;
    background: white;
    border: 1px solid $circle_border_color;
    display: inline-block;
    list-style: none;
    position: relative;
    margin: 2em;
    font-size: 1.3em;

    .event-name,
    .friend-name {
      @include transform(translateY(46%));
      display: block;
      font-size: 0.9em;
      pointer-events: none;
      height: 100%;
      text-align: center;
    }

    li {
      position: absolute;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

#friends > li {
  z-index: 100;

  &.clone {
    @include transition(0.4s);
    @include scale3d(1, 1, 1);
    @include opacity(0);
    z-index: 1;
    position: absolute;

    &.shown {
      @include opacity(0.3);
      @include scale3d(0.8, 0.8, 1);
    }
  }
}

#events > li {
  @include transition(0.3s);
  background: $light_gray;

  ul {
    width: 100%;
    position: absolute;
    pointer-events: none;

    &:after {
      content: attr(data-list-size);
      @include transition(0.3s);
      @include opacity(0);
      @include transform(
        translateY(-50%) scale3d(0, 0, 1)
      );
      margin: 0 auto;
      display: block;
      font-size: 1.1em;
      background: lightblue;
      color: black;
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
      line-height: 1.5em;
      text-align: center;
    }
  }

  &.over,
  &:hover {
    border-color: black;
    background: $touch_hover_background_color;

    ul {
      &:after {
        @include transform(
          translateY(25%) scale3d(1, 1, 1)
        );
        @include opacity(1);
      }
    }
  }
}

.enable-transition {
  @include transition(0.5s);
}

.item-dropped {
  @include animation('scale 0.5s');
}

.item-duplicate {
  @include animation('shake 0.35s');
}

.item-remove-row {
  @include transition(0.5s);
  @include opacity(0);
  @include transform(
    translate(-2px, -10px)
    rotate(-5deg)
  );
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0,0,0,0.5); /*dim the background*/

  &[aria-hidden="false"] {
    display: block;
  }

  &[aria-hidden="true"] {
    display: none;
  }

  [role=dialog] {
    @include transform(translateY(-50%));
    @include border-radius(0.6em);
    padding: 0.75em 1em;
    margin: 0 auto;
    display: table;
    position: relative;
    top: 50%;
    width: 50em;
    border: 1px solid $light_gray;
    outline: none;

    @media screen and (max-width: $break-small) {
      @include transform(translateY(0));
      width: 92%;
      top: 2em;
    }
  }

  .invitee-name,
  h1 {
    @include text-shadow(0 1px 2px #333);
  }

  .invitees button,
  textarea,
  [type="submit"] {
    @include border-radius(0.3em);
  }

  .invitees {
    float: left;

    li {
      color: white;
      font-size: 1.6em;
      margin-bottom: 0.5em;
    }

    .invitee-name {
      display: inline-block;
      width: 7.5em;
    }

    button {
      font-size: 0.8em;
      border: none;
      background: lightblue;
      &:active {
        background: lightblue;
      }
      &:focus {
        outline: none;
      }
    }
  }

  [type=submit] {
    @include appearance(none);
    @include text-shadow(0 1px 2px $light_gray);
    border: none;
    background: lightblue;
    color: black;
    font-size: 1.8em;
    float: right;
    padding: 0.4em;
  }

  [aria-label='close dialog'] {
    @extend %close-button;
  }

  header {
    margin: 1em 0;
  }

  h1 {
    font-size: 2.2em;
    color: white;
  }

  textarea {
    border: none;
    font-size: 1.5em;
    padding: 1em;
    width: 100%;
    height: 9.7em;
    margin-bottom: 0.5em;
  }

  .success {
    @include border-radius(0.3em);
    background: white;
    color: black;
    padding: 2em;
    font-size: 1.6em;
    text-align: center;
  }
}
