/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 33, ../sass/_mixins.scss */
.overlay [aria-label='close dialog'] {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -1.2em;
  right: -1.8em;
  cursor: pointer;
  outline: none;
  line-height: 2.2em;
}
/* line 43, ../sass/_mixins.scss */
.overlay [aria-label='close dialog']:focus {
  outline: none;
}
/* line 47, ../sass/_mixins.scss */
.overlay [aria-label='close dialog']:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  content: "\00d7";
  width: 26px;
  height: 26px;
  font-size: 1.8em;
  background: #eee;
  color: black;
}

@-webkit-keyframes scale {
  0% {
    -moz-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -moz-transform: scale3d(0.8, 0.8, 1);
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  70% {
    -moz-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes scale {
  0% {
    -moz-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -moz-transform: scale3d(0.8, 0.8, 1);
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  70% {
    -moz-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-o-keyframes scale {
  0% {
    -moz-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -moz-transform: scale3d(0.8, 0.8, 1);
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  70% {
    -moz-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes scale {
  0% {
    -moz-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -moz-transform: scale3d(0.8, 0.8, 1);
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  70% {
    -moz-transform: scale3d(1.1, 1.1, 1);
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -moz-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes shake {
  0% {
    -moz-transform: translate(2px, 0px) rotate(0deg);
    -ms-transform: translate(2px, 0px) rotate(0deg);
    -webkit-transform: translate(2px, 0px) rotate(0deg);
    transform: translate(2px, 0px) rotate(0deg);
  }
  10% {
    -moz-transform: translate(-1px, 0px) rotate(-1deg);
    -ms-transform: translate(-1px, 0px) rotate(-1deg);
    -webkit-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  20% {
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40% {
    -moz-transform: translate(1px, 0px) rotate(1deg);
    -ms-transform: translate(1px, 0px) rotate(1deg);
    -webkit-transform: translate(1px, 0px) rotate(1deg);
    transform: translate(1px, 0px) rotate(1deg);
  }
  50% {
    -moz-transform: translate(-1px, 0px) rotate(-1deg);
    -ms-transform: translate(-1px, 0px) rotate(-1deg);
    -webkit-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  60% {
    -moz-transform: translate(-3px, 0px) rotate(0deg);
    -ms-transform: translate(-3px, 0px) rotate(0deg);
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
    transform: translate(-3px, 0px) rotate(0deg);
  }
  70% {
    -moz-transform: translate(2px, 1px) rotate(-1deg);
    -ms-transform: translate(2px, 1px) rotate(-1deg);
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    -ms-transform: translate(-1px, -1px) rotate(1deg);
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -moz-transform: translate(2px, 0px) rotate(0deg);
    -ms-transform: translate(2px, 0px) rotate(0deg);
    -webkit-transform: translate(2px, 0px) rotate(0deg);
    transform: translate(2px, 0px) rotate(0deg);
  }
  100% {
    -moz-transform: translate(1px, 0px) rotate(-1deg);
    -ms-transform: translate(1px, 0px) rotate(-1deg);
    -webkit-transform: translate(1px, 0px) rotate(-1deg);
    transform: translate(1px, 0px) rotate(-1deg);
  }
}
@-moz-keyframes shake {
  0% {
    -moz-transform: translate(2px, 0px) rotate(0deg);
    -ms-transform: translate(2px, 0px) rotate(0deg);
    -webkit-transform: translate(2px, 0px) rotate(0deg);
    transform: translate(2px, 0px) rotate(0deg);
  }
  10% {
    -moz-transform: translate(-1px, 0px) rotate(-1deg);
    -ms-transform: translate(-1px, 0px) rotate(-1deg);
    -webkit-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  20% {
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40% {
    -moz-transform: translate(1px, 0px) rotate(1deg);
    -ms-transform: translate(1px, 0px) rotate(1deg);
    -webkit-transform: translate(1px, 0px) rotate(1deg);
    transform: translate(1px, 0px) rotate(1deg);
  }
  50% {
    -moz-transform: translate(-1px, 0px) rotate(-1deg);
    -ms-transform: translate(-1px, 0px) rotate(-1deg);
    -webkit-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  60% {
    -moz-transform: translate(-3px, 0px) rotate(0deg);
    -ms-transform: translate(-3px, 0px) rotate(0deg);
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
    transform: translate(-3px, 0px) rotate(0deg);
  }
  70% {
    -moz-transform: translate(2px, 1px) rotate(-1deg);
    -ms-transform: translate(2px, 1px) rotate(-1deg);
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    -ms-transform: translate(-1px, -1px) rotate(1deg);
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -moz-transform: translate(2px, 0px) rotate(0deg);
    -ms-transform: translate(2px, 0px) rotate(0deg);
    -webkit-transform: translate(2px, 0px) rotate(0deg);
    transform: translate(2px, 0px) rotate(0deg);
  }
  100% {
    -moz-transform: translate(1px, 0px) rotate(-1deg);
    -ms-transform: translate(1px, 0px) rotate(-1deg);
    -webkit-transform: translate(1px, 0px) rotate(-1deg);
    transform: translate(1px, 0px) rotate(-1deg);
  }
}
@-o-keyframes shake {
  0% {
    -moz-transform: translate(2px, 0px) rotate(0deg);
    -ms-transform: translate(2px, 0px) rotate(0deg);
    -webkit-transform: translate(2px, 0px) rotate(0deg);
    transform: translate(2px, 0px) rotate(0deg);
  }
  10% {
    -moz-transform: translate(-1px, 0px) rotate(-1deg);
    -ms-transform: translate(-1px, 0px) rotate(-1deg);
    -webkit-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  20% {
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40% {
    -moz-transform: translate(1px, 0px) rotate(1deg);
    -ms-transform: translate(1px, 0px) rotate(1deg);
    -webkit-transform: translate(1px, 0px) rotate(1deg);
    transform: translate(1px, 0px) rotate(1deg);
  }
  50% {
    -moz-transform: translate(-1px, 0px) rotate(-1deg);
    -ms-transform: translate(-1px, 0px) rotate(-1deg);
    -webkit-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  60% {
    -moz-transform: translate(-3px, 0px) rotate(0deg);
    -ms-transform: translate(-3px, 0px) rotate(0deg);
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
    transform: translate(-3px, 0px) rotate(0deg);
  }
  70% {
    -moz-transform: translate(2px, 1px) rotate(-1deg);
    -ms-transform: translate(2px, 1px) rotate(-1deg);
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    -ms-transform: translate(-1px, -1px) rotate(1deg);
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -moz-transform: translate(2px, 0px) rotate(0deg);
    -ms-transform: translate(2px, 0px) rotate(0deg);
    -webkit-transform: translate(2px, 0px) rotate(0deg);
    transform: translate(2px, 0px) rotate(0deg);
  }
  100% {
    -moz-transform: translate(1px, 0px) rotate(-1deg);
    -ms-transform: translate(1px, 0px) rotate(-1deg);
    -webkit-transform: translate(1px, 0px) rotate(-1deg);
    transform: translate(1px, 0px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    -moz-transform: translate(2px, 0px) rotate(0deg);
    -ms-transform: translate(2px, 0px) rotate(0deg);
    -webkit-transform: translate(2px, 0px) rotate(0deg);
    transform: translate(2px, 0px) rotate(0deg);
  }
  10% {
    -moz-transform: translate(-1px, 0px) rotate(-1deg);
    -ms-transform: translate(-1px, 0px) rotate(-1deg);
    -webkit-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  20% {
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    -ms-transform: translate(-3px, 0px) rotate(1deg);
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  40% {
    -moz-transform: translate(1px, 0px) rotate(1deg);
    -ms-transform: translate(1px, 0px) rotate(1deg);
    -webkit-transform: translate(1px, 0px) rotate(1deg);
    transform: translate(1px, 0px) rotate(1deg);
  }
  50% {
    -moz-transform: translate(-1px, 0px) rotate(-1deg);
    -ms-transform: translate(-1px, 0px) rotate(-1deg);
    -webkit-transform: translate(-1px, 0px) rotate(-1deg);
    transform: translate(-1px, 0px) rotate(-1deg);
  }
  60% {
    -moz-transform: translate(-3px, 0px) rotate(0deg);
    -ms-transform: translate(-3px, 0px) rotate(0deg);
    -webkit-transform: translate(-3px, 0px) rotate(0deg);
    transform: translate(-3px, 0px) rotate(0deg);
  }
  70% {
    -moz-transform: translate(2px, 1px) rotate(-1deg);
    -ms-transform: translate(2px, 1px) rotate(-1deg);
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    -ms-transform: translate(-1px, -1px) rotate(1deg);
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -moz-transform: translate(2px, 0px) rotate(0deg);
    -ms-transform: translate(2px, 0px) rotate(0deg);
    -webkit-transform: translate(2px, 0px) rotate(0deg);
    transform: translate(2px, 0px) rotate(0deg);
  }
  100% {
    -moz-transform: translate(1px, 0px) rotate(-1deg);
    -ms-transform: translate(1px, 0px) rotate(-1deg);
    -webkit-transform: translate(1px, 0px) rotate(-1deg);
    transform: translate(1px, 0px) rotate(-1deg);
  }
}
/* line 24, ../sass/_animations.scss */
.item-dropped {
  -webkit-animation: scale 0.35s;
  -moz-animation: scale 0.35s;
  -o-animation: scale 0.35s;
  animation: scale 0.35s;
}

/* line 28, ../sass/_animations.scss */
.item-duplicate {
  -webkit-animation: shake 0.35s;
  -moz-animation: shake 0.35s;
  -o-animation: shake 0.35s;
  animation: shake 0.35s;
}

/* line 32, ../sass/_animations.scss */
.enable-transition {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 36, ../sass/_animations.scss */
.item-load {
  -webkit-animation: scale 1s;
  -moz-animation: scale 1s;
  -o-animation: scale 1s;
  animation: scale 1s;
}

/* line 40, ../sass/_animations.scss */
.item-remove-row {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translate(-2px, -10px) rotate(-5deg);
  -ms-transform: translate(-2px, -10px) rotate(-5deg);
  -webkit-transform: translate(-2px, -10px) rotate(-5deg);
  transform: translate(-2px, -10px) rotate(-5deg);
  pointer-events: none;
}

/* line 1, ../sass/_overlay.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
  /*dim the background*/
}
/* line 10, ../sass/_overlay.scss */
.overlay[aria-hidden="false"] {
  display: block;
}
/* line 14, ../sass/_overlay.scss */
.overlay[aria-hidden="true"] {
  display: none;
}
/* line 18, ../sass/_overlay.scss */
.overlay [role=dialog] {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  padding: 0.75em 1em 1em;
  margin: 0 auto;
  display: table;
  position: relative;
  top: 50%;
  width: 50em;
  border: 1px solid #a2a2a2;
  outline: none;
  background: #555555;
}
@media screen and (max-width: 600px) {
  /* line 18, ../sass/_overlay.scss */
  .overlay [role=dialog] {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    width: 92%;
    top: 2em;
  }
}
/* line 38, ../sass/_overlay.scss */
.overlay .invitee-name,
.overlay h1 {
  text-shadow: 0 1px 2px #333;
}
/* line 43, ../sass/_overlay.scss */
.overlay .invitees button,
.overlay textarea,
.overlay [type="submit"] {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}
/* line 49, ../sass/_overlay.scss */
.overlay .invitees {
  float: left;
}
/* line 52, ../sass/_overlay.scss */
.overlay .invitees li {
  color: white;
  font-size: 1.6em;
  margin-bottom: 0.5em;
}
/* line 58, ../sass/_overlay.scss */
.overlay .invitees .invitee-name {
  display: inline-block;
  width: 7.5em;
}
/* line 63, ../sass/_overlay.scss */
.overlay .invitees button {
  font-size: 0.8em;
  border: none;
  background: lightblue;
}
/* line 67, ../sass/_overlay.scss */
.overlay .invitees button:active {
  background: lightblue;
}
/* line 70, ../sass/_overlay.scss */
.overlay .invitees button:focus {
  outline: none;
}
/* line 76, ../sass/_overlay.scss */
.overlay [type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-shadow: 0 1px 2px #eee;
  border: none;
  background: lightblue;
  color: black;
  font-size: 1.8em;
  float: right;
  padding: 0.4em;
}
/* line 91, ../sass/_overlay.scss */
.overlay header {
  margin: 1em 0;
}
/* line 95, ../sass/_overlay.scss */
.overlay h1 {
  font-size: 2.2em;
  color: white;
}
/* line 100, ../sass/_overlay.scss */
.overlay textarea {
  border: none;
  font-size: 1.5em;
  padding: 1em;
  width: 100%;
  height: 9.7em;
  margin-bottom: 0.5em;
}
/* line 109, ../sass/_overlay.scss */
.overlay .success {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background: white;
  color: black;
  padding: 2em;
  font-size: 1.6em;
  text-align: center;
}

/* line 8, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 11, ../sass/main.scss */
*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/main.scss */
main {
  text-align: center;
}

/* line 21, ../sass/main.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 62.5%;
}

/* line 27, ../sass/main.scss */
[draggable="true"] {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}
/* line 34, ../sass/main.scss */
[draggable="true"][aria-grabbed="true"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  -moz-transform: scale3d(0.8, 0.8, 1);
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
}
/* line 39, ../sass/main.scss */
[draggable="true"][aria-grabbed="false"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 46, ../sass/main.scss */
#friends > li,
#events > li {
  will-change: transform, opacity;
  -moz-border-radius: 6em;
  -webkit-border-radius: 6em;
  border-radius: 6em;
  width: 7em;
  height: 7em;
  background: white;
  border: 1px solid #8a868e;
  display: inline-block;
  list-style: none;
  position: relative;
  margin: 2em;
  font-size: 1.3em;
}
/* line 59, ../sass/main.scss */
#friends > li .event-name,
#friends > li .friend-name,
#events > li .event-name,
#events > li .friend-name {
  -moz-transform: translateY(46%);
  -ms-transform: translateY(46%);
  -webkit-transform: translateY(46%);
  transform: translateY(46%);
  display: block;
  font-size: 0.9em;
  pointer-events: none;
  height: 100%;
  text-align: center;
}
/* line 69, ../sass/main.scss */
#friends > li li,
#events > li li {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

/* line 77, ../sass/main.scss */
#friends > li {
  z-index: 100;
}
/* line 80, ../sass/main.scss */
#friends > li.clone {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -moz-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 1;
  position: absolute;
}
/* line 87, ../sass/main.scss */
#friends > li.clone.shown {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  -moz-transform: scale3d(0.8, 0.8, 1);
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
}

/* line 94, ../sass/main.scss */
#events > li {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #eee;
}
/* line 98, ../sass/main.scss */
#events > li ul {
  width: 100%;
  position: absolute;
  pointer-events: none;
}
/* line 103, ../sass/main.scss */
#events > li ul:after {
  content: attr(data-list-size);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateY(-50%) scale3d(0, 0, 1);
  -ms-transform: translateY(-50%) scale3d(0, 0, 1);
  -webkit-transform: translateY(-50%) scale3d(0, 0, 1);
  transform: translateY(-50%) scale3d(0, 0, 1);
  margin: 0 auto;
  display: block;
  font-size: 1.1em;
  background: lightblue;
  color: black;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
}
/* line 123, ../sass/main.scss */
#events > li.over, #events > li:hover {
  border-color: black;
  background: #ccc;
}
/* line 129, ../sass/main.scss */
#events > li.over ul:after, #events > li:hover ul:after {
  -moz-transform: translateY(25%) scale3d(1, 1, 1);
  -ms-transform: translateY(25%) scale3d(1, 1, 1);
  -webkit-transform: translateY(25%) scale3d(1, 1, 1);
  transform: translateY(25%) scale3d(1, 1, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
