@import "compass/reset";
@import "compass/css3";

$blue: #428BCA;
$button_width: 5em;
$mobile_min: 320px;

html, body {
  height: 100%;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

body {
  font-size: 62.5%;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   line-height: 2.6em;
}

* {
  @include box-sizing(border-box);

  &:after,
  &:before {
    @include box-sizing(border-box);
  }
}

%vertical-align {
  @include transform(
    translateY(-50%)
  );
  position: relative;
  top: 50%;
}

%button {
  @include transition(0.3s);
  @include border-radius(0.3em);
  width: $button_width;
  margin-left: (-($button_width) * .5);
  background: $blue;
  color: white;
  font-size: 2em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border: 0;
  cursor: pointer;

  &:hover {
    background: darken($blue, 10%);
  }

  &[disabled] {
    cursor: auto;
    @include opacity(0.3);
    &:hover {
      background: $blue;
    }
  }
}

#questions-container {
  @include transform-style(preserve-3d);
  height: 100%;
  width: 38em;
  max-width: 94%;
  min-width: $mobile_min;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;

  > .inner {
    @extend %vertical-align;
  }

  ol {
    @include border-radius(0.3em);
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset);
    counter-reset: question-counter;
    height: 35em;
    padding: 2em;

    li {
      @include transition(0.4s);
      @include transform-origin(0% 0%);

      &[aria-hidden] {
        &:before {
          @include transition(0.3s);
          @include border-radius(0.3em);
          content: counter(question-counter);
          counter-increment: question-counter;
          position: absolute;
          right: -1.3em;
          top: -1.4em;
          font-size: 3.1em;
          background: rgba(black, 0.6);
          color: white;
          padding: 0.4em;

          @media screen and (max-width: 420px) {
            @include transform(translate(-0.4em, -0.2em));
          }
        }
      }

      &[aria-hidden=false] {
        @include transform(scale(1) translateY(0));
        @include opacity(1);
        max-height: 20em;
      }

      &[aria-hidden=true] {
        &:before {
          visibility: hidden;
        }
        @include transform(scale(0.8) translateY(-5em));
        @include opacity(0);
        max-height: 0;
        pointer-events: none;
      }
    }

    li ul {
      text-align: left;
      display: inline-block;
    }
  }

  label {
    font-size: 1.5em;
    display: inline-block;
  }

  [type=radio] {
    float: left;
    margin-right: 1em;
    position: relative;
    top: 3px;
  }

  button {
    @extend %button;
    position: absolute;
    bottom: -1.3em;
    z-index: 100;
  }

}

.question-text {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  line-height: 1.3em;
  display: block;
  height: 7.7em;
  overflow: auto;
}
