@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes scroll-up {
  from {
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-650%);
    -ms-transform: translateY(-650%);
    -webkit-transform: translateY(-650%);
    transform: translateY(-650%);
  }
}
@-moz-keyframes scroll-up {
  from {
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-650%);
    -ms-transform: translateY(-650%);
    -webkit-transform: translateY(-650%);
    transform: translateY(-650%);
  }
}
@-o-keyframes scroll-up {
  from {
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-650%);
    -ms-transform: translateY(-650%);
    -webkit-transform: translateY(-650%);
    transform: translateY(-650%);
  }
}
@keyframes scroll-up {
  from {
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-650%);
    -ms-transform: translateY(-650%);
    -webkit-transform: translateY(-650%);
    transform: translateY(-650%);
  }
}
/* line 16, ../sass/main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 19, ../sass/main.scss */
*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/main.scss */
html, body {
  height: 100%;
}

/* line 29, ../sass/main.scss */
body {
  background-color: black;
  color: white;
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
}

/* line 35, ../sass/main.scss */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 1em;
  position: absolute;
  left: 1em;
  top: 1em;
}

/* line 43, ../sass/main.scss */
main {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 100%;
  text-align: center;
}
/* line 44, ../sass/main.scss */
main.animate {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -webkit-animation: scroll-up 100s infinite;
  -moz-animation: scroll-up 100s infinite;
  -o-animation: scroll-up 100s infinite;
  animation: scroll-up 100s infinite;
}

/* line 53, ../sass/main.scss */
dl {
  pointer-events: none;
  width: 50%;
  margin: 0 auto;
  line-height: 1.8em;
  height: 100%;
  min-width: 18em;
}

/* line 62, ../sass/main.scss */
dt {
  width: 40%;
  float: left;
  text-align: right;
  padding-right: 0.35em;
  font-size: 0.5em;
  position: relative;
  top: 0.25em;
}

/* line 72, ../sass/main.scss */
dd {
  width: 60%;
  float: right;
  text-align: left;
  padding-left: 0.35em;
}

/* line 79, ../sass/main.scss */
video {
  position: fixed;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-repeat: no-repeat;
  background-size: cover;
}
