@include keyframes(shift_hell) {
  0%   { background-position: 0 0; }
  100% { background-position: 0 -1024px; }
}

@include keyframes(scale_one) {
  0% {
    opacity: 0;
    @include scale3d(8, 8, 1);
  }
  100% {
    opacity: 1;
    @include scale3d(1, 1, 1);
  }
}

@include keyframes(scale_two) {
  0% {
    @include scale3d(10, 10, 1);
  }
  100% {
    @include scale3d(1, 1, 1);
  }
}
